package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# Optional REPL history
.node_repl_history

# Output
dist/
*.tgz
